<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/save_data}" method="post" th:object="${patient}" >
<div class="contact-grids1 w3agile-6">
<div class="row">
<div class="col-md-6 col-sm-6 contact-form1 form-group">
<label for="exampleInputEmail1"> Name</label>
<input type="text"
name="name"
class="form-control"
id="name"
aria-describedby="emailHelp"
placeholder="Enter Here"
required
th:field="*{name}"/>


</div>
<div class="col-md-6 col-sm-6 contact-form1 form-group">
<label class="col-form-label">Email</label>
<input type="email"
class="form-control"
placeholder="Enter email"
name="email"
id="email"
required
th:field="*{email}" />
</div>

 <div class="col-md-6 col-sm-6 contact-form1 form-group">
 <label class="col-form-label">Password</label>
 <input type="password"
 class="form-control"
  placeholder="Enter Password"
  name="password"
  id="password"
  required
  th:field="*{password}" />
  </div>



  <div class="col-md-6 col-sm-6 contact-form1 form-group">
  <label class="col-form-label">Phone</label>
  <input type="number" class="form-control"
  placeholder="Enter Phone Number"
  name="phone"
  id="phone"
  required  th:field="*{phone}" />
   </div>
   <div class="col-md-6 col-sm-6 contact-form1 form-group">
   <label class="col-form-label">Address</label>
   <textarea class="form-control"
    placeholder="Enter Address"
    id="address"
   rows="6"
   name="address"
   required th:field="*{address}" ></textarea>
   <p id="error_description"></p>
   </div>


   </div>

<button type="submit" class="btn bg-primary text-white" >
Submit
</button>
   <a href="/show_data" style="float:left;" class="btn btn-success text-right">Show 
 All</a>
 </div>
    <br>

  </form>

</body>
</html> -->