<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>You're Logged In Successfully </h1>
<form  th:action="@{/customer/edit/{firstName}(firstName=${user.firstName})}" th:object="${user}" method="get">

<div>
<button type="submit">Edit User Details</button>
</div>

</form>
<form  th:action="@{/customer/delete/{firstName}(firstName=${user.firstName})}" th:object="${user}" method="get">

<div>
<button type="submit">DELETE</button>
</div>

</form>
</body>
</html>